@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(31 38 50);
  height: 100vh;
  position: relative;
}
#__next {
  height: 100%;
}
